.services{
    padding: 0 3 rem 0 3rem;
    display: flex;
    height: 90%;
    margin-bottom: 28rem;
    margin-top: 9rem;

}

.p-services{
    display: flex;
    flex-direction: column;
    position: relative;
}

.p-services > :nth-child(1){
    color: var(--gray);
    font-size: 2.5rem;
    font-weight: bold;
}

.p-services > :nth-child(2){
    color: orange;
    font-size: 2.5rem;
    font-weight: bold;
}

.p-services > :nth-child(3){
    color: gray;
    font-size: 14pxrem;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.s-button {
    width: 8rem;
    height: 2rem;
}

.cards {
    position: relative;
}

.cards >* {
    position: absolute;
}

@media screen and (max-width: 480px){
    .services{
        margin-top: 0;
        flex-direction: column;
        gap: 5rem; 
        height: 66rem;
        padding: 0;
    }
    .cards{
        display: flex;
        flex-direction: column;
        gap: 17rem;
    }
    .cards>*{
        position: static;
    }
}